.about {
  display: flex;
  flex-direction: column;
  width: 96%;
  height: 50vh;
  padding-top: 15vh;
  padding-bottom: 25vh;
  align-self: center;
  @media (max-width: 768px) {
    padding-top: 7vh;
    padding-bottom: 15vh;
    /* padding-left: 25px;
    padding-right: 25px; */
  }

  .title_code {
    font-size: 14pt;
    font-weight: 500;
  }

  .title_text {
    font-size: 4rem;
    font-size: clamp(2rem, 0.0499rem + 6.667vw, 4rem);
  }

  .title_button {
    font-size: 10pt;
    padding: 15px;
    /* margin-top: 40px; */
  }

  .paragraph {
    /* font-size: clamp(0.625rem, 0.367rem + 1.288vw, 1rem); */
    padding-top: 40px;
    max-width: 620px;
  }

  .bold {
    font-weight: 500;
  }

  .socials {
    display: flex;
    flex-direction: row;
    padding-top: 25px;
    > * {
      padding-right: 25px;
      color: white;

      &:hover {
        color: #04d9ff;
        transition-duration: 0.2s;
      }
      transition-duration: 0.2s;
    }
  }
}
