body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 7px;
  background: #181818;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
  border-radius: 15px;
}

::-webkit-scrollbar-button {
  display: none;
}

.code {
  font-family: "Fira Mono", monospace;
  font-size: 10pt;
  color: white;
}

.title {
  font-family: "Archivo", monospace;
  font-size: 20pt;
  font-weight: 800;
  color: white;
}

.body {
  font-family: "Roboto", sans-serif;
  font-size: 12pt;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -1%;
  color: white;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.2px;
  word-spacing: 0.25px;
}

.blue {
  color: #04d9ff;
}

.white {
  color: white;
}

.black {
  color: #181818;
}

.offwhite {
  color: #b1b1b1;
}

.fade-in {
  opacity: 0;
  transform: translateY(
    20px
  ); /* Optional: You can use different transform properties for different effects */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-initial {
  opacity: 0;
  transform: translateY(
    20px
  ); /* Optional: You can use different transform properties for different effects */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-initial.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-initial-up {
  opacity: 0;
  transform: translateY(
    -20px
  ); /* Optional: You can use different transform properties for different effects */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in-initial-up.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-nav {
  opacity: 0;
  transform: translateY(
    0
  ); /* Optional: You can use different transform properties for different effects */
  animation: fadeInAnimation 0.5s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(
      -20px
    ); /* Optional: You can use different transform properties for different effects */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  scroll-behavior: smooth;
}
